<!doctype html>
<html>

<head>
  <title>mini-chat</title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <style type="text/css">
    body{
      margin-top: 30px;
    }
    .chattime{
      text-align: right;
    }
  </style>
</head>

<body ng-app="myApp">
  <div ng-controller="MainController">
<!--     <input type="text" ng-model="message">
    <button ng-click="send()">Send</button>
    <hr>
    <h1>{{lastMessage}}</h1> -->


    <div class="container">
      <div class="row">

        <div class="col-md-12" ng-hide="hideLoginArea">
          <label>Nick Name</label>
          <input type="text" ng-model="nickname" class="form-control"> <br>

          <button ng-click="join()" class="btn btn-success">Join Chat</button>
        </div>

        <div id="chatArea" ng-hide="hideChatArea">
          <div class="col-md-4">
            <div class="well">
              <h3>Participants</h3>
              <ul id="users" class="list-group">
                
              </ul>
            </div>
          </div>
          
          <div class="col-md-8">
            <div id="chat" class="chat"></div>

            <div class="form-group">
              <label>Enter Text</label>
              <input type="text" ng-model="message" class="form-control"> <br>
              <button ng-click="send()" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div><!-- end of row -->
    </div><!-- end of container -->


  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
  <script src="js/angular.js"></script>
  <script src="//localhost:3696/socket.io/socket.io.js"></script>
  <script src="js/io.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
